*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans KR";
}
p{
    margin: 0;
}

#card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
}
.content-container{
    padding: 0 104px;
    margin-bottom: 77px;
}
.container-menu-box{
    display: flex;
    justify-content: space-between;
    max-width: 1232px;
    margin: 0 auto;
}
.title-box-model{
font-family: Mulish;
font-size: 31px;
font-weight: 700;
line-height: 37.2px;
letter-spacing: 0.005em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #11142D;
}
.btn-box-model{
    width: Hug (112px)px;
height: Fixed (56px)px;
top: 3679px;
left: 1224px;
padding: 18px 24px 18px 24px;
gap: 10px;
border-radius: 8px;
opacity: 0px;
background-color:  #F36326;
color: #fff;
border: none;
}
#card-battles{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Tạo 2 cột có kích thước bằng nhau */
    column-gap: 10px;
    row-gap: 20px;
    max-width: 1232px;
    margin: 55px auto 38px;
}
#overview-war-width-french{
    display: flex;
    max-width: 1232px;
    margin: 0 auto;
    gap: 16px;
    margin-top: 55px;
}
#overview-war-width-french .container-card-battles{
    width: 316px;
} 
.div-see-more{
width: 296px;
height: 312px;
background-color: #11142D;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;

}
.div-see-more p {
    font-family: IBM Plex Sans KR;
font-size: 128px;
font-weight: 600;
line-height: 192px;
letter-spacing: 0.01em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #fff;
}
.overview-war-width-french .description-battles{
font-family: Nunito Sans;
font-size: 15px;
font-weight: 400;
line-height: 22px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #2a2a2a;
}
.give-contact-container{
    background-color: #0A075F;
    height: 223px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.title-give-contact{
font-family: Manrope;
font-size: 24px;
font-weight: 700;
line-height: 28.8px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #fff;
max-width: 196px;
margin-right: 64px;
}
.content-give-contact{
    max-width: 1232px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.box-give-contact{
    display: flex;
    align-items: center;
    flex:1;
}
.input-col1{
    width: 307px;
    padding: 0;
}
.input-col2{
  width: 450px;
    padding: 0;

}
.btn-give-contact{
    width: 171px;
height: 50px;
border-radius: 4px 0px 0px 0px;
background-color: #F4796C;
color: #fff;
outline: none;
border: none;
border-radius: 4px;
margin-left: 7px;
}
.input-give-contact{
    width: 100%;
    height: 50px;
    border-radius: 6px;
    background-color: #8483AF;
    color: #fff;
    font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 16.94px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
outline: none;
border: none;
padding-left: 24px;
}
.input-give-contact::placeholder {
  color: #fff; 
  font-size: 14px; 
}
a{
    text-decoration: none;
    color: #fff;
}
@media (max-width:1400px){
    .heading-title{
        font-size: 30px;
    }
    .sub-heading-title{
        font-size: 20px;
    }
    .btn-give-contact{
        margin-left: 0;
    }

}
@media (max-width:1178px){
   .box-give-contact{
         flex-direction: column;
         align-items: flex-start;
         gap: 10px;
   }
   .input-col1{
         width: 100%;
   }
   #overview-war-width-french{
         flex-direction: column;
         align-items: center;
         margin-bottom: 30px;
   }
   #overview-war-width-french .container-card-battles{
    width: 90%;
   }
   .div-see-more{
   display: none;
   }
   .box-vdeo iframe{
       width: 100%;
   }
   .heading-title{
         font-size: 20px;
   }
   .sub-heading-title{
            font-size: 18px;
   }
   .container-menu-box{
    width: 90%;
   }
   .content-container{
    padding: 0 20px;
   }
}
@media (max-width: 1035px){
    .intro-web{
        flex-direction: column;
    }
    .intro-web p{
        text-align: center;
    }
    .heading-title{
        max-width: 100%;
    }
    .box-image-header{
        max-width: 556px;
        margin: 0 auto;
    }
    #card-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 979px){
    .content-overviewWarwithAmerican{
        flex-direction: column;
    }
    .container-overviewWarwithAmerican{
        max-height: unset;

    }
    .box-vdeo{
        max-width: 100%;
    }
}
@media (max-width: 879px){
    .box-search{
        margin-left: 10px;
    }
    .input-search{
        width: 100px;
    }
    .backgroud-footer{
        padding: 20px;
    }
    .title-box-model{
        font-size: 23px;
    }
    .img-mail{
        display: none;
    }
}
@media (max-width: 745px){
    .btn-box-model{
        width: 100px;
        height: 40px;
        padding: 0;
    }
    .btn-box-model a{
        font-size: 14px;
    }
    .container-overviewWarwithAmerican{
        padding: 33px 20px;
    }
    .box-image-header img{
        width: 200px;
        height: 200px;
    }
    .sadox-image{
        width: 180px;
        height: 180px;
    }
    .content-give-contact{
        padding: 0 20px;
    }
    .input-give-contact{
        width: 200px;
    }
    .title-give-contact{
        font-size: 20px;
        margin-right: 20px;
        width: 500px;
    }
    .nav-1{
        display: grid;
        grid-gap:10px

    }
    .title-heading{
        font-size: 20px;
    }
    .box-give-contact{
        max-width: 50px;
    }
    .give-contact-container{
        height: auto;
        padding:  20px 0;
    }
    .content-give-contact,
    .header-link{
        flex-direction: column;
    }
    .input-search{
        width: 100%;
    }
    .box-give-contact{
        max-width: 100%;
    }
    .input-give-contact{
        width: 300px;
    }
    .title-give-contact{
        margin-bottom: 20px;
        max-width: 200px;
        margin-right: 0;
        text-align: center;
    }
    .card-over-item{
        flex-direction: column;
    }
    #card-container{
        grid-template-columns: 1fr;
    }
    .btn-to-link{
        width: 200px;
    }
    .container-link-feedback {
             height: auto;
             padding-bottom: 20px;
    }
    #card-battles{
        grid-template-columns: 1fr;

    }
    .backgroud-footer{
        height: unset;
    }
    .container-input-email-footer{
        margin-top: 20px;
    }
    .content-header{
        padding-left: 20px;
        padding-right: 20px;
    }
}