<div>
    <div class="container-link-feedback container">
        <img src="../../assets/mailicon.png" class="img-mail"/>
        <div class="box-mail-link">
            <p class="title-feedback-link">DON’T FORGET TO GIVE US FEEDBACK</p>
            <button class="btn-to-link">
                <span>Click here</span>
                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M2.67303 16.8198L0.949951 15.0967L12.7654 3.28136H2.18072V0.819824H16.95V15.589H14.4885V5.00444L2.67303 16.8198Z"
                        fill="white" />
                </svg>
            </button>
        </div>


    </div>
</div>