<div>
    <div class="container-overviewWarwithAmerican">
          <div class="container-menu-box">
                    <h1 class="title-box-model" style="color: #fff;">Historical Figures</h1>
                    <button class="btn-box-model">View All</button>
            </div>
        <div class="content-overviewWarwithAmerican">
            <div class="box-vdeo">
                <iframe width="696" height="315" src="https://www.youtube.com/embed/b05ur5DW8z4?si=8LgmwTM4AXb_Y-_b"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="box-title-vdeo">
                    <a class="title-vdeo-war" href="https://www.youtube.com/watch?v=b05ur5DW8z4"
                        target="_blank">Liberation of the South on April 30, 1975; Footage taken by French reporters</a>
                    <p>
                        <span class="style-text-youtobe">youtobe</span>
                        <span class="style-text-youtobe">2 year ago</span>
                    </p>
                </div>
            </div>
            <div>
                <div class="card-over-item">
                    <img src="../../assets/liberation.png" />
                    <div class="content-overcarditem">
                        <a class="text-item" href="https://nghiencuuquocte.org/2020/07/05/my-da-thay-phap-dan-than-vao-chien-tranh-viet-nam/">Formation of the National Front for the Liberation of South Vietnam</a>
                        <p class="sub-text-item">By Nhi | 4min read</p>
                    </div>
                </div>
                <div class="card-over-item">
                    <img src="../../assets/startus.png" />
                    <div class="content-overcarditem">
                        <a class="text-item" href="https://loigiaihay.com/chien-dau-chong-chien-luoc-chien-tranh-cuc-bo-cua-de-quoc-mi-o-mien-nam-1965-1968-c87a8277.html">Start of U.S. Military Intervention</a>
                        <p class="sub-text-item">By Chi | 5min read</p>
                    </div>
                </div>
                <p class="see-more">...</p>
            </div>

        </div>
    </div>
</div>